<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
<h1>List of all teacher</h1>
<br>
<br>
<form method="get" action="/ustoz/">
        <input type="text" name="search">
        <button type="submit">Qidirish</button>
    </form>
<br>
<br>
{% for teacher in ustoz %}
<h2 style="display:inline;">{{teacher.id}}. <a href="/ustoz/{{teacher.id}}/">{{teacher}} </a></h2>
<a href="/m_tas/{{teacher.id}}/"><button>O'chirish</button></a>
<a href="/m_edit/{{teacher.id}}/"><button>O'zgartirish</button><br><br><br></a>
{% endfor %}
    <form method="post" action="/ustoz/">{% csrf_token %}
        {{forma}}
        <button type="submit">Qo'shish</button>
    </form>

</body>
</html>