<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studentlarni tahririlash</title>
</head>
<body>
  <br>
  <br>
  <h1>Studentning ma'lumotini o'zgarturing</h1>
  <br>
  <br>
  <form method="post" action="/talaba_edit/{{student.id}}/">{% csrf_token %}
        <input type="text" name="ismi" value="{{student.ism}}">
        {% if student.birituvchi %}
        <input type="checkbox" name="bitiradi" checked>
        {% else %}
         <input type="checkbox" name="bitiradi">
        {% endif %}
        <input type="number" name="k_soni" value="{{student.kitob_soni}}">
        <button type="submit">O'zgartirish</button>
  </form>
</body>
</html>